   html {
       font-size: 22px;
   }

   body {
       background-color: black;
       color: azure;
       text-align: center;
   }

   input:in-range {
       background-color: lightgreen;
   }

   input:out-of-range {
       background-color: lightcoral;
   }

   table,
   th,
   td {
       border: 1px solid;
       padding: 5px;
   }

   tbody tr:nth-child(odd) {
       background-color: rgba(127, 255, 212, 0.733);
   }

   .error {
       color: red;
   }

   .invalid {
       border-color: red;
   }